* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 100px;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

@media (max-width: 620px) {
  .sidebar {
    width: 200px !important;
  }
  h1 {
    font-size: 20px;
  }
  .admin {
    grid-template-columns: 200px 200px !important;
  }
}
